@model Person
@{
    ViewData["Title"] = "Person Details";
}



<div class="card mt-5 mb-4 mx-auto" style="width: 400px;">
    <div class="card-header bg-dark text-white">
        Person Details
    </div>
    <div className="card-body">

        <p class="card-text mt-2">*<span class="font-weight-bold"> Name:</span> @Model.Name</p>
        <p class="card-text">*<span class="font-weight-bold"> City:</span> @Model.City.CityName</p>
        <p class="card-text">*<span class="font-weight-bold"> Country:</span> @Model.City.Country.CountryName</p>
        <p class="card-text mb-2">*<span class="font-weight-bold"> Phonenumber:</span> @Model.PhoneNumber</p>
        <p class="card-text mb-2">*<span class="font-weight-bold"> Person speeks:</span><a asp-action="PersonLanguage" 
                                                                                          asp-controller="People" 
                                                                                          asp-route-id="@Model.Id" class="mt-6 text-warning"> Languages </a></p>
    </div>
    <div class="d-flex justify-content-center mb-3">
        <a asp-action="People" class="mt-6 text-warning">Back</a>
        <hr /> 
        <a class="mt-6 text-warning" asp-controller="People" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
    </div>
    <div className="card-footer"></div>
</div>
